body {
  background-color: #eaeded;
}
.Form {
  text-align: left;
  position: relative;
  top: 60px;
  left: 25%;
  width: 50%;
}
.backgroundimage {
  background-image: url("bg.jpg");
  width: 100vw;
  height: 98vh;
  position: relative;
  bottom: 200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.tl {
  position: relative;
  top: 30px;
}
.nav {
  overflow: auto;
  z-index: 1;
}
.form {
  width: 40%;
  height: 15%;
  position: relative;
  left: 30%;
}
.white {
  color: white;
}
.header {
  position: relative;
  bottom: 110px;
}
#wrapper {
  background-color: light grey;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}
.footer {
  color: white;
  background-color: #04164b;
}
.button {
  position: relative;
  left: 22%;
  bottom: 5%;
}
