.mapboxgl-ctrl {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 2%;
  background-color: transparent;
}
.mapboxgl-ctrl-geocoder {
  width: 100%;
}
Geocoder {
  width: 100px;
  height: 80px;
}
.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
