.Form {
  text-align: left;
  position: relative;
  top: 10%;
  width: 85%;
}
.signup {
  background-image: url("signup.jpg");
  width: 50vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.login {
  background-image: url("login.jpg");
  width: 50vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  background-color: white;
}
#div {
  background: rgb(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
  right: 20px;
  width: 113%;
}
